<template name="mmpDetails">
    <div class="mmp">
        <div id="main" class="center">
            <div id="top"><img src="/img/mmp_head_img.jpg" alt="妈妈PA"></div>
            <div id="content">

                <!--活动头图区域-->
                <div class="con_img"><img src="{{mamapas.contentImg}}" alt="{{mamapas.title}}"></div>

                <!--活动内容区域-->
                <div class="con_con sns_content">
                    {{mamapas.detailText}}
                </div>

                <!--视频区域-->
                <!--<div class="con_flash">-->
                <!--<video src="" width="90%"></video>-->
                <!--</div>-->
                <div class="line"></div>
                <!--活动摘要区域-->
                <ul class="info">
                    <li>时间：{{detailsStartTime}}</li>
                    <li>地点：{{mamapas.address}}</li>
                    <li>参与人数：<span>{{mamapas.numLimit}}</span></li>
                    <li>已报名人数：<span>{{joinNumber}}</span></li>
                </ul>
                <div class="line"></div>
                <!--报名表单区域-->
                <div id="form">
                    <form>
                        <input type="hidden" name="id" value="<?=$id?>">
                        <dl>
                            <dt>姓名：</dt>
                            <dd><input type="text" name="name" ></dd>
                        </dl>
                        <dl>
                            <dt>联系方式：</dt>
                            <dd><input type="num" name="tel" ></dd>
                        </dl>

                        <dl>
                            <dt>家庭住址：</dt>
                            <dd><input type="text" name="addr" ></dd>
                        </dl>
                        <dl>
                            <dt>宝宝姓名：</dt>
                            <dd><input type="text" name="babyName" ></dd>
                        </dl>
                        <dl>
                            <dt>宝宝年龄：</dt>
                            <dd>
                                <select name="ageYear" id="ageYear" class="age">
                                    <option value="">年</option>
                                </select>
                                <select name="ageMonth" id="ageMonth" class="age">
                                    <option value="" >月</option>
                                </select>
                                <select name="ageDay" id="ageDay" class="age">
                                    <option value="" >日</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>怀孕几周：</dt>
                            <dd><select name="week">
                                <option value="1">1周</option>
                                <option value="1">2周</option>
                                <option value="1">3周</option>
                            </select></dd>
                        </dl>
                        <dl>
                            <dt>在妈宝几群：</dt>
                            <dd>
                                <select name="group">
                                    <option value="0">不在群中</option>
                                    <!--<option value="<%= i %>"><%= i %>群</option>-->
                                    <option value="孕1">孕1群</option>
                                    <option value="孕2">孕2群</option>
                                    <option value="孕3">孕3群</option>
                                </select>
                            </dd>
                        </dl>
                        <!-- <dl>
                          <dt>到场人数：</dt>
                          <dd><select name="pnum">
                            <?php for ($i=1;$i<=3;$i++):?>
                            <option value="<?=$i?>"><?=$i?>人</option>
                            <?php endfor;?>
                          </select></dd>
                        </dl> -->
                    </form>
                    <p class="submit"><a id="sub">我要报名</a></p>
                </div>
            </div>
            <div class="fxtip" style="display:none">
                <div class="tip">
                    <img src="/images/duigou.png" alt="" />
                    <div class="tip-text">报名成功，还剩<span id="length">3</span>个名额，快把好消息分享给朋友吧！</div>
                </div>
                <div style="display:none" class="sns_title">result.name，仅剩<span id="length">3</span>席，跟我一起报名母婴派妈妈pa吧 </div>
                <div class="tip-img">
                    <img src="/img/fxtip.png" alt="" />
                </div>
            </div>
        </div>
    </div>


</template>
